DATABASE_URL=postgres://postgres:dev@localhost:5433/tasks
SUPABASE_URL=https://xmidllsxuwkeuniznlto.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtaWRsbHN4dXdrZXVuaXpubHRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MTg5NTksImV4cCI6MjEwMTQ5NDk1OX0.YEfZoOjF3J5WPtkIg7cEUyBNwgF7YgQ2h7gXmiqMfY0
PORT=3000